# Python
.venv/
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/
*.code-workspace

# Sensitive files
*.key

# System Files
.DS_Store
Thumbs.db

# Script to run stageandpush
stageallandpush.ps1

# Starfield
starfield/
